h1 {
  color: red;
}

.card #pokemonId {
  width: 250px;
  height: 250px;
  align-items: center;
  border: 1px solid gray;
}

.footer {
  background-color: #212529;
  color: white;
  padding: 20px;
}

.logo {
  width: 60%;
}
